@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Press Start 2P", monospace !important;
}

body {
	width: 100%;
	overflow-x: hidden;
}

.main-container {
	min-height: calc(100vh - 136px);
}

@media screen and (min-width:850px) {
	.main-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "image-box text-box";
	}
}

.card {
	width: 100%;
}

.card p {
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
}

.card input {
	margin-bottom: 40px;
	height: 35px;
}

.warning {
	position: relative;
	margin-top: -37px;
}

footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}