<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="index.head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/quiz.css}">
	<title>Quiz</title>
</head>
<body>

	<!-- NavBar -->
	<div th:replace="~{fragments::navbar}"></div>
	
	<div class="container py-5 px-4">
	
		<h1 class="bg-primary text-light">Only Select The Correct Answers</h1>
		
		<form action="/quiz" method="POST" th:object=${quizForm}>
		
			<input type="hidden" th:field=*{quizUserData.username}  />
			<input type="hidden" th:field=*{quizUserData.categoryId}  />
			<input type="hidden" th:field=*{quizUserData.quizId}  />
			
			<div class="ques-box nes-container is-dark m-auto mb-4" th:each="q : ${quizForm.questions}">
				
				<p class="title" th:text="${q.question}"></p>
				
				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="a" required/>
    				<span th:text="${q.option.a}" style="color: #20A0F8"></span>
 				</label>
 				<br>
 				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="b" required/>
    				<span th:text="${q.option.b}" style="color: #A8E8A0"></span>
 				</label>
 				<br>
 				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="c" required/>
    				<span th:text="${q.option.c}" style="color: #F87068"></span>
 				</label>
 				<br>
 				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="d" required/>
    				<span th:text="${q.option.d}" style="color: #F8C8A0"></span>
 				</label>	
			</div>
			
			<button type="submit" class="btn btn-primary d-block mx-auto mt-4 px-5">Submit Answers</button>
		</form>
	</div>
	
	<!-- Footer -->
	<div th:replace="~{fragments::footer}"></div>
	
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>