<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="index.head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/quiz.css}">
	<title>Quiz - Spring Boot Quiz App</title>
	<link rel="icon" type="image/x-icon" href="/images/box.png">
</head>
<body>

	<!-- NavBar -->
	<div th:replace="~{fragments::navbar}"></div>
	
	<div class="container py-5 px-4">
	
		<section class="message- right text-center mb-5 m-auto" style="width: 100%; max-width: 500px;">
			<div class="nes-balloon from-right">
				<p><span>Hello, </span><span th:text="${quizForm.quizUserData.username}" style="color: #20A0F8"></span><span>!</span></p>
				<p><span>This quiz is about </span><span th:text="${category}" style="color: #F87068"></span><span>.</span></p>
				<p><span>Please select the correct answers. Good luck :)</span></p>
			</div>
			<br>
			<div class="d-flex justify-content-end">
				<i class="nes-octocat animate float-right"></i>
			</div>
		</section>
		
		<form action="/quiz" method="POST" th:object=${quizForm}>
		
			<input type="hidden" th:field=*{quizUserData.username}  />
			<input type="hidden" th:field=*{quizUserData.categoryId}  />
			<input type="hidden" th:field=*{quizUserData.quizId}  />
			
			<div class="ques-box nes-container is-dark with-title m-auto mb-5" th:each="q, iStat : ${quizForm.questions}">
				
				<p class="title nes-container is-dark" th:text="${iStat.count}"></p>
				<p class="questionTitle" th:text="${q.question}"></p>
				
				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="a" required/>
    				<span th:text="${q.option.a}" style="color: #20A0F8"></span>
 				</label>
 				<br>
 				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="b" required/>
    				<span th:text="${q.option.b}" style="color: #A8E8A0"></span>
 				</label>
 				<br>
 				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="c" required/>
    				<span th:text="${q.option.c}" style="color: #F87068"></span>
 				</label>
 				<br>
 				<label>
    				<input type="radio" class="nes-radio is-dark" th:attr="name=${q.questionId}" th:value="d" required/>
    				<span th:text="${q.option.d}" style="color: #F8C8A0"></span>
 				</label>	
			</div>
			
			<div class="d-flex justify-content-center">
				<button type="submit" class="nes-btn is-primary d-block mt-4 px-5 me-5">Submit Answers</button>
				<a href="#top" class="nes-btn is-success mt-4 px-5">Top</a>
			</div>
			
		</form>
	</div>
	
	<!-- Footer -->
	<div th:replace="~{fragments::footer}"></div>
	
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>